services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    command: ["nodemon", "--legacy-watch", "src/index.js"]
    volumes:
      - .:/app
      - /app/node_modules
    deploy:
      replicas: 1

  nginx:
    image: nginx:alpine
    ports:
      - "5000:80"
    depends_on:
      - backend
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

  redis:
    image: redis
    ports:
      - "6379:6379"
    depends_on:
      - backend
